* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #8386df, #c3cfe2);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  translate: -50;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 98%;
  max-width: 800px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: 900;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  color: #333;
  position: relative;
}

h2::after {
  content: "";

  width: 30%;
  height: 3px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  background-color: #667eea;
}

#generate-btn {
  background: linear-gradient(45deg, #667eea, #764ba2);
  color: #fff;

  border: none;
  border-radius: 50px;

  padding: 0.8rem 1.5rem;
  margin-bottom: 2rem;

  font-weight: 500;
  font-size: 1.1rem;

  cursor: pointer;
  transition: all 0.4s ease;
}
#generate-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(102, 126, 234, 0.3);
}
#generate-btn:active {
  transform: translateY(0);
}

.palette-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.color-box {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.color-box:hover {
  transform: translateY(-5px);
}

.color {
  height: 120px;
  cursor: pointer;
}

.color-info {
  padding: 0.7rem;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.9rem;
}

.hex-value {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.copy-btn {
  cursor: pointer;
  color: #64748b;
  transition: color 0.2s;
}

.copy-btn:hover {
  color: #667eea;
}

@media (max-width: 768px) {
  .palette-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
